<router-outlet *ngIf="!isHomeRoute"></router-outlet>
<ng-container *ngIf="isHomeRoute">
  <app-header></app-header>
  <section id="hero"><app-hero></app-hero></section>
  <section id="featured-products"><app-featured-products></app-featured-products></section>
  <section id="trendy-collection"><app-trendy-collection></app-trendy-collection></section>
  <section id="features"><app-features></app-features></section>
  <section id="community-consultancy"><app-community-consultancy></app-community-consultancy></section>
  <section id="testimonials"><app-testimonials></app-testimonials></section>
  <section id="footer"><app-footer></app-footer></section>
</ng-container>